Node-RED_flow.json
[{"id":"b83bdb27.f47038","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"f16c046c.dc05e8","type":"tab","label":"Add New Warehouse","disabled":false,"info":""},{"id":"ccce9f5d.aaf62","type":"tab","label":"Machine Learning Model","disabled":false,"info":""},{"id":"13ee79d6.cce946","type":"tab","label":"Chatbot UI","disabled":false,"info":""},{"id":"e44d7adb.248728","type":"subflow","name":"Timer Settings (2)","info":"","category":"","in":[],"out":[],"env":[{"name":"TimerNumber","type":"num","value":""},{"name":"PayloadON","type":"str","value":""},{"name":"PayloadOFF","type":"str","value":""}],"color":"#DDAA99"},{"id":"b7814283.d78b2","type":"subflow","name":"Subflow 1","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"4eef0b2f.bebeb4","type":"subflow","name":"Subflow 2","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"e1bb80ff.42da7","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#091677","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#1e9ddc","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#1e9ddc","edited":true},"page-titlebar-backgroundColor":{"value":"#1e9ddc","edited":false},"page-backgroundColor":{"value":"#f3f7f7","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#5dbbe9","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#1e9ddc","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c1d6db7f.80ef68","type":"ui_group","z":"","name":"Check Stock","tab":"9b32ff2c.ba486","order":1,"disp":true,"width":"6","collapse":false},{"id":"9b32ff2c.ba486","type":"ui_tab","z":"","name":"Check Supplies Needed","icon":"dashboard","disabled":false,"hidden":false},{"id":"2f2a6fa3.eabec","type":"ui_tab","z":"","name":"remove warehouse","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"663189a0.a13148","type":"ui_group","z":"","name":"default","tab":"2f2a6fa3.eabec","order":2,"disp":true,"width":"6","collapse":false},{"id":"f597d215.86b9","type":"ui_tab","z":"","name":"dashboard","icon":"Dashboard","order":1,"disabled":false,"hidden":false},{"id":"9e8f1f5a.57652","type":"ui_tab","z":"","name":"Add New Warehouse","icon":"","disabled":false,"hidden":false},{"id":"a0b188e8.3599e8","type":"ui_group","z":"","name":"Add New Warehouse","tab":"9e8f1f5a.57652","order":1,"disp":true,"width":"6","collapse":false},{"id":"13c1445c.ebd85c","type":"ui_tab","z":"","name":"add new supplier","icon":"dashboard","disabled":false,"hidden":false},{"id":"d03594c6.b9cde8","type":"ui_group","z":"","name":"Add new Supplier","tab":"13c1445c.ebd85c","order":1,"disp":true,"width":"6","collapse":false},{"id":"139fbd10.b60ef3","type":"ui_group","z":"","name":"Group 4","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"1a967a85.98df85","type":"ui_spacer","name":"spacer","group":"139fbd10.b60ef3","order":4,"width":1,"height":1},{"id":"946e1343.10b42","type":"ui_group","z":"","name":"Date","tab":"f597d215.86b9","order":1,"disp":true,"width":"6","collapse":false},{"id":"d3282cd2.05d8","type":"ui_group","z":"","name":"Weather","tab":"f597d215.86b9","order":3,"disp":true,"width":"6","collapse":false},{"id":"7968862.e45c778","type":"ui_tab","z":"","name":"Add new Product","icon":"Dashboard","disabled":false,"hidden":false},{"id":"8bec5850.2e5f98","type":"ui_group","z":"","name":"Add product","tab":"7968862.e45c778","order":1,"disp":true,"width":"6","collapse":false},{"id":"ac15dc0d.412fa","type":"ui_group","z":"","name":"Customer Care","tab":"17b70b51.822ba5","order":1,"disp":true,"width":"6","collapse":false},{"id":"17b70b51.822ba5","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false},{"id":"3c6f02ae.2a8c0e","type":"ui_group","z":"","name":"Home","tab":"f597d215.86b9","order":2,"disp":true,"width":"20","collapse":false},{"id":"98eec984.7c9238","type":"ui_form","z":"ccce9f5d.aaf62","name":"","label":"","group":"c1d6db7f.80ef68","order":1,"width":0,"height":0,"options":[{"label":"Store\t","value":"a","type":"number","required":true,"rows":null},{"label":"Dept","value":"b","type":"number","required":true,"rows":null},{"label":"IsHoliday\t","value":"c","type":"text","required":true,"rows":null},{"label":"Size","value":"d","type":"number","required":true,"rows":null},{"label":"Temperature","value":"e","type":"number","required":true,"rows":null},{"label":"MarkDown1","value":"f","type":"number","required":true,"rows":null},{"label":"MarkDown2","value":"g","type":"number","required":true,"rows":null},{"label":"MarkDown3","value":"h","type":"number","required":true,"rows":null},{"label":"MarkDown4","value":"i","type":"number","required":true,"rows":null},{"label":"MarkDown5","value":"j","type":"number","required":true,"rows":null},{"label":"Month","value":"k","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["bf4d4b79.63aae8"]]},{"id":"bf4d4b79.63aae8","type":"function","z":"ccce9f5d.aaf62","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\n\n//following are required to receive a token\nvar apikey=\"r-EFXqmsnOjn3JHm7OttSO1AYF-oWI8xfHeEfaCJk9p0\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["4ea01c85.b3ad44"]]},{"id":"3976843e.70b3ec","type":"http request","z":"ccce9f5d.aaf62","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/94d0e4a5-dcbb-4393-a834-4e0a6d7a407c/deployments/d5512c7c-0701-42af-b260-478eabbc5288/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["924f79f7.84bff8","f6252aa1.6e1658"]]},{"id":"9fe1e034.14f6e","type":"debug","z":"ccce9f5d.aaf62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":540,"wires":[]},{"id":"f6252aa1.6e1658","type":"function","z":"ccce9f5d.aaf62","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":480,"wires":[["9fe1e034.14f6e","2c72b1fa.4c8f3e"]]},{"id":"924f79f7.84bff8","type":"debug","z":"ccce9f5d.aaf62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"9e6e45f4.69db18","type":"function","z":"ccce9f5d.aaf62","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"94d0e4a5-dcbb-4393-a834-4e0a6d7a407c\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['Store', 'Dept', 'IsHoliday', 'Size', 'Temperature', 'MarkDown1',\n       'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5', 'Month'],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["3976843e.70b3ec"]]},{"id":"4ea01c85.b3ad44","type":"http request","z":"ccce9f5d.aaf62","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["9e6e45f4.69db18"]]},{"id":"2c72b1fa.4c8f3e","type":"ui_text","z":"ccce9f5d.aaf62","group":"c1d6db7f.80ef68","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}} units required","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"f7d2c412.bcdca8","type":"function","z":"f16c046c.dc05e8","name":"","func":"msg.payload = {_id:msg.payload.storeEmail,\nstoreCode:msg.payload.storeCode,\nstoreName:msg.payload.storeName,\nregionName:msg.payload.regionName,\nstoreManagerName:msg.payload.storeManagerName,\nstoreEmail:msg.payload.storeEmail,\ntemp:msg.payload.temp,\nUnemployment:msg.payload.Unemployment,\nfuel_price:msg.payload.fuel_price\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":80,"wires":[["7e0707fc.b466e8"]]},{"id":"7e0707fc.b466e8","type":"cloudant out","z":"f16c046c.dc05e8","name":"","cloudant":"","database":"warehouse-details","service":"node-red-nywmy-cloudant-1590592591553-58839","payonly":true,"operation":"insert","x":620,"y":80,"wires":[]},{"id":"a0264054.47685","type":"ui_form","z":"f16c046c.dc05e8","name":"","label":"Remove Warehouse","group":"663189a0.a13148","order":1,"width":0,"height":0,"options":[{"label":"Enter store email","value":"storeEmail","type":"email","required":true,"rows":null}],"formValue":{"storeEmail":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":220,"wires":[["a0bf74fd.9bf958","b968445e.6215d8"]]},{"id":"a0bf74fd.9bf958","type":"function","z":"f16c046c.dc05e8","name":"","func":"msg.payload = {_id:msg.payload.storeEmail}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":220,"wires":[["f687b3ec.46869"]]},{"id":"f687b3ec.46869","type":"cloudant in","z":"f16c046c.dc05e8","name":"","cloudant":"","database":"warehouse-details","service":"node-red-nywmy-cloudant-1590592591553-58839","search":"_id_","design":"","index":"","x":570,"y":220,"wires":[["cc4bcd35.19f63"]]},{"id":"cc4bcd35.19f63","type":"cloudant out","z":"f16c046c.dc05e8","name":"","cloudant":"","database":"warehouse-details","service":"node-red-nywmy-cloudant-1590592591553-58839","payonly":true,"operation":"delete","x":770,"y":220,"wires":[]},{"id":"ee82979d.169ac8","type":"ui_form","z":"f16c046c.dc05e8","name":"","label":"Add New Warehouse","group":"a0b188e8.3599e8","order":1,"width":0,"height":0,"options":[{"label":"Enter Store Code","value":"storeCode","type":"number","required":true,"rows":null},{"label":"Enter Store Name","value":"storeName","type":"text","required":true,"rows":null},{"label":"Enter Region","value":"regionName","type":"text","required":true,"rows":null},{"label":"Enter State","value":"stateName","type":"text","required":true,"rows":null},{"label":"Enter Store Manager Name","value":"storeManagerName","type":"text","required":true,"rows":null},{"label":"Enter store email","value":"storeEmail","type":"email","required":true,"rows":null},{"label":"Enter Temperature","value":"temp","type":"number","required":false,"rows":null},{"label":"Enter Fuel Price","value":"fuel_price","type":"number","required":false,"rows":null},{"label":"Enter Unemployment rate","value":"Unemployment","type":"number","required":false,"rows":null}],"formValue":{"storeCode":"","storeName":"","regionName":"","stateName":"","storeManagerName":"","storeEmail":"","temp":"","fuel_price":"","Unemployment":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":180,"y":80,"wires":[["f7d2c412.bcdca8","a894b2d9.1ecb4"]]},{"id":"9d39da4d.9967a8","type":"ui_form","z":"13ee79d6.cce946","name":"","label":"","group":"ac15dc0d.412fa","order":1,"width":0,"height":0,"options":[{"label":"Enter the input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":100,"wires":[["68aa51c4.e0e12"]]},{"id":"68aa51c4.e0e12","type":"function","z":"13ee79d6.cce946","name":"input parsing","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":140,"wires":[["af27b8b5.b96c18","9ba0aed4.a04ea"]]},{"id":"af27b8b5.b96c18","type":"ui_text","z":"13ee79d6.cce946","group":"ac15dc0d.412fa","order":2,"width":0,"height":0,"name":"","label":"User input","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":240,"wires":[]},{"id":"4bfce4eb.348fdc","type":"function","z":"13ee79d6.cce946","name":"Output Parsing","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url=msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n    \n}\nelse{\n    msg.payload=msg.payload.output.generic[0].text\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":60,"wires":[["9bceee86.334ca","2e133ec6.d89aa2"]]},{"id":"9bceee86.334ca","type":"ui_text","z":"13ee79d6.cce946","group":"ac15dc0d.412fa","order":2,"width":"6","height":"10","name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"col-center","x":890,"y":60,"wires":[]},{"id":"2e133ec6.d89aa2","type":"ui_audio","z":"13ee79d6.cce946","name":"","group":"ac15dc0d.412fa","voice":"en-US","always":"","x":900,"y":140,"wires":[]},{"id":"9ba0aed4.a04ea","type":"watson-conversation-v1","z":"13ee79d6.cce946","name":"","workspaceid":"3d6eeb32-6b4b-4137-ba30-ae2241c3a29f","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":340,"y":60,"wires":[["4bfce4eb.348fdc"]]},{"id":"a894b2d9.1ecb4","type":"function","z":"f16c046c.dc05e8","name":"","func":" msg.payload = msg.payload.storeName + \", has been successfully added\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":140,"wires":[["91e1e6d9.645398"]]},{"id":"91e1e6d9.645398","type":"ui_text","z":"f16c046c.dc05e8","group":"a0b188e8.3599e8","order":1,"width":0,"height":0,"name":"Status","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":140,"wires":[]},{"id":"6cc1d4b7.ec45ac","type":"ui_text","z":"f16c046c.dc05e8","group":"663189a0.a13148","order":1,"width":0,"height":0,"name":"Status","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":280,"wires":[]},{"id":"b968445e.6215d8","type":"function","z":"f16c046c.dc05e8","name":"","func":"msg.payload= msg.payload.storeEmail + \"  successfully removed!!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":280,"wires":[["6cc1d4b7.ec45ac"]]},{"id":"b34b4131.7406e","type":"ui_form","z":"f16c046c.dc05e8","name":"","label":"Add New Supplier","group":"d03594c6.b9cde8","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter email","value":"Email","type":"email","required":true,"rows":null},{"label":"Enter Mobile Number","value":"phone","type":"number","required":true,"rows":null},{"label":"Region","value":"region","type":"text","required":true,"rows":null}],"formValue":{"name":"","Email":"","phone":"","region":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":380,"wires":[["3e545fe3.eb83e","e67ff1b7.73b08"]]},{"id":"7c8b950d.0e02ac","type":"cloudant out","z":"f16c046c.dc05e8","name":"","cloudant":"","database":"suppliers-details","service":"node-red-nywmy-cloudant-1590592591553-58839","payonly":true,"operation":"insert","x":720,"y":380,"wires":[]},{"id":"3e545fe3.eb83e","type":"function","z":"f16c046c.dc05e8","name":"","func":"msg.payload = {_id:msg.payload.Email,\ndate_of_joining:new Date(),\nName:msg.payload.name,\nEmail:msg.payload.Email,\nPhone:msg.payload.phone,\nGender:msg.payload.gender\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":380,"wires":[["7c8b950d.0e02ac"]]},{"id":"386a883.aeff678","type":"ui_text","z":"f16c046c.dc05e8","group":"d03594c6.b9cde8","order":1,"width":0,"height":0,"name":"Status","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":460,"wires":[]},{"id":"e67ff1b7.73b08","type":"function","z":"f16c046c.dc05e8","name":"","func":"msg.payload =\"Hey \" +msg.payload.name + \", Registration Successful\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":460,"wires":[["386a883.aeff678"]]},{"id":"35abaa8e.3c0286","type":"inject","z":"b83bdb27.f47038","name":"timestamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":290,"y":180,"wires":[["f8422ea2.08e07","c2c46f87.b16fe"]]},{"id":"ee3098c7.532eb8","type":"ui_gauge","z":"b83bdb27.f47038","name":"","group":"d3282cd2.05d8","order":2,"width":0,"height":0,"gtype":"gage","title":"Current Temperature","label":"units","format":"{{msg.payload.tempc}}","min":0,"max":"100","colors":["#00b500","#00e6e2","#cb3a95"],"seg1":"","seg2":"","x":800,"y":160,"wires":[]},{"id":"50b69b17.0ad2b4","type":"ui_gauge","z":"b83bdb27.f47038","name":"","group":"d3282cd2.05d8","order":4,"width":0,"height":0,"gtype":"donut","title":"Wind Speed","label":"units","format":"{{msg.payload.windspeed}}","min":0,"max":"10","colors":["#b30000","#e62200","#cb3a43"],"seg1":"","seg2":"","x":730,"y":220,"wires":[]},{"id":"e9bc561.2c97fa8","type":"ui_gauge","z":"b83bdb27.f47038","name":"","group":"d3282cd2.05d8","order":3,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"units","format":"{{msg.payload.pressure}}","min":"500","max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":200,"wires":[]},{"id":"707b8c5d.3d7ee4","type":"ui_text","z":"b83bdb27.f47038","group":"d3282cd2.05d8","order":1,"width":0,"height":0,"name":"","label":"Weather","format":"{{msg.payload.weather}}","layout":"row-spread","x":770,"y":120,"wires":[]},{"id":"e9ebf72e.2d16f8","type":"ui_text","z":"b83bdb27.f47038","group":"946e1343.10b42","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":260,"wires":[]},{"id":"10df9513.8e658b","type":"function","z":"b83bdb27.f47038","name":"","func":"msg.payload = \"Date :\"+ (new Date()).toString()+ \" \"\n+\"Location:\"+msg.payload.location;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":260,"wires":[["e9ebf72e.2d16f8"]]},{"id":"f8422ea2.08e07","type":"openweathermap","z":"b83bdb27.f47038","name":"Forecast","wtype":"current","lon":"","lat":"","city":"New Delhi","country":"India","language":"en","x":480,"y":180,"wires":[["ee3098c7.532eb8","50b69b17.0ad2b4","e9bc561.2c97fa8","707b8c5d.3d7ee4","10df9513.8e658b"]]},{"id":"94dc59d1.e4c7a8","type":"ui_form","z":"f16c046c.dc05e8","name":"","label":"Add Product","group":"8bec5850.2e5f98","order":0,"width":0,"height":0,"options":[{"label":"Enter Product","value":"product_name","type":"text","required":true,"rows":null},{"label":"Enter Product Code","value":"product_code","type":"number","required":true,"rows":null},{"label":"Enter suitable temperature","value":"temp","type":"number","required":false,"rows":null},{"label":"Enter product type","value":"product_type","type":"text","required":false,"rows":null}],"formValue":{"product_name":"","product_code":"","temp":"","product_type":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":580,"wires":[["bdf7d0d9.209d8"]]},{"id":"bdf7d0d9.209d8","type":"function","z":"f16c046c.dc05e8","name":"","func":"msg.payload = {_id:msg.payload.product_name,\nproduct_type:msg.payload.product_type,\nproduct_name:msg.payload.product_name,\nTemperature:msg.payload.temp\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":580,"wires":[["c88593c3.93975"]]},{"id":"c88593c3.93975","type":"cloudant out","z":"f16c046c.dc05e8","name":"","cloudant":"","database":"product-details","service":"node-red-nywmy-cloudant-1590592591553-58839","payonly":true,"operation":"insert","x":640,"y":580,"wires":[]},{"id":"c2c46f87.b16fe","type":"ui_template","z":"b83bdb27.f47038","group":"3c6f02ae.2a8c0e","name":"","order":1,"width":20,"height":9,"format":"<!DOCTYPE html>\n<html>\n<title>User's Dashboard</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Raleway\">\n<style>\nbody,h1 {font-family: \"Raleway\", sans-serif}\nbody, html {height: 100%}\n.bgimg {\n  background-image: url('https://www.noorwegenonline.com/wp-content/uploads/2018/06/Perishable-Goods.jpg');\n  min-height: 100%;\n  background-position: center;\n  background-size: cover;\n}\n</style>\n<body>\n\n<div class=\"bgimg w3-display-container w3-animate-opacity w3-text-white\">\n  <div class=\"w3-display-topleft w3-padding-large w3-xlarge\">\n    Users's dashboard\n  </div>\n  <div class=\"w3-display-middle\">\n    <h1 class=\"w3-jumbo w3-animate-top\">MyStore.com</h1>\n    <hr class=\"w3-border-grey\" style=\"margin:auto;width:40%\">\n    <p class=\"w3-large w3-center\">The recent times have clearly brought into light the importance of an optimized warehouse system. A well run warehouse system not only supports its consumers smoothly during normal days but it also makes sure that enough stock is maintained and important information is displayed about the inventory during calamities.\n\nApart from maintaining a good stock, a good warehouse system can also be optimized by taking into consideration its history of longevity of goods to reduce the amount of wastage. This becomes all the more crucial when a region is hit by a natural or man made disaster.\n\nSo for this problem statement, we propose a web application supported by a machine learning model for an optimized warehouse management system to facilitate food delivery companies.</p>\n  </div>\n</div>\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":440,"y":80,"wires":[[]]}]